<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FebrianTech-Website Jaringan Komputer</title>
    <link rel="stylesheet" href="./assets/styles/febrian-tech.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="jumbotron" id="beranda">
        <h1 id="names">FebrianTech</h1>
        <p>Website Jaringan Komputer</p>
      </div>
      <nav>
        <ul class="menu">
          <li><a href="#beranda">Beranda</a></li>
          <li class="dropdown">
            <a href="#jaringan-komputer">Jaringan </a>
            <ul class="menu-dropdown" id="submenu-jaringan">
              <li><a href="#lan">LAN</a></li>
              <li><a href="#man">MAN</a></li>
              <li><a href="#wan">WAN</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#kabel-jaringan">Kabel </a>
            <ul class="menu-dropdown" id="submenu-kabel">
              <li><a href="#twisted-pair">Twisted Pair</a></li>
              <li><a href="#fiber-optik">Fiber Optik</a></li>
            </ul>
          </li>
        </ul>
        <ul class="login">
          <li>
            <a href="/blog/tutorial-mikrotik" id="login-button"
              >Tutorial Mikrotik</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="content">
        <article class="hero card">
          <div class="hero-text">
            <h2>Selamat datang di FebrianTech</h2>
            <p>website yang membahas seputar jaringan komputer</p>
          </div>
          <div class="hero-image">
            <img
              class="featured-image"
              src="assets/img/beranda.jpg"
              alt="A router image"
            />
          </div>
        </article>

        <article id="jaringan-komputer" class="card">
          <h2>Jaringan Komputer</h2>
          <img
            src="assets/img/jaringan-komputer.jpg"
            alt="Jaringan Komputer"
            class="featured-image"
          />
          <p>
            Jaringan komputer adalah dua atau lebih komputer yang terhubung satu
            sama lain dan digunakan untuk berbagi data. Sebuah jaringan dibangun
            dengan perpaduan konfigurasi hardware dan software untuk menciptakan
            sebuah sistem yang dapat bekerja dengan mulus.
          </p>
          <p>
            Untuk membuat sebuah jaringan, switch dan router menggunakan
            berbagai protokol dan algoritma untuk bertukar informasi dan untuk
            membawa data ke titik akhir yang diinginkan.
          </p>
          <p>
            Setiap titik akhir (kadang disebut host) dalam jaringan memiliki
            pengenal unik, sering kali alamat IP atau alamat Media Access
            Control yang digunakan untuk menunjukkan sumber atau tujuan
            transmisi. Endpoint dapat mencakup server, komputer pribadi,
            telepon, dan berbagai jenis hardware jaringan.
          </p>
          <p>
            Sebuah jaringan perangkat juga mungkin dibuat dengan menggunakan
            gabungan teknologi kabel dan wireless. Perangkat jaringan
            berkomunikasi melalui medium transmisi kabel atau wireless.
          </p>
          <p>
            Untuk jaringan yang menggunakan kabel, kamu mungkin membutuhkan
            optical fiber, coaxial cable, atau kabel tembaga. Sementara itu,
            jalur jaringan wireless termasuk dalam kategori jaringan yang
            menggunakan koneksi data nirkabel untuk menghubungkan titik akhir.
            Titik akhir ini termasuk radio siaran, radio seluler, microwave, dan
            satelit.
          </p>
          <p>
            Jaringan dapat diatur menjadi private atau publik. Jaringan private
            biasanya memerlukan user untuk memasukkan kredensial untuk mengakses
            jaringan. Biasanya, ini diberikan secara manual oleh administrator
            jaringan atau diperoleh langsung oleh pengguna melalui kata sandi
            atau dengan kredensial lainnya. Jaringan publik seperti internet
            tidak membatasi akses.
          </p>
          <p>
            Sumber :
            <cite
              ><a
                href="https://www.dewaweb.com/blog/pengertian-dan-jenis-jaringan-komputer"
                target="_blank"
                >dewaweb.com</a
              ></cite
            >
          </p>
          <p>
            Setelah mengetahui pengertian lengkap dari jaringan komputer,
            berikut jenis-jenis jaringan komputer yang perlu diketahui, di
            antaranya:
          </p>
          <section id="lan">
            <h3>LAN</h3>
            <img
              src="assets/img/lan.png"
              alt=" lan diagram"
              class="featured-image diagram"
            />
            <p>
              Local Area Network atau LAN adalah suatu jaringan yang
              menghubungkan perangkat komputer 1 dengan perangkat komputer
              lainnya dalam wilayah yang bersifat lokal atau berdekatan. Seperti
              misalnya rumah, gedung, sekolah, rumah sakit ataupun lab komputer.
            </p>
            <P>
              Setiap komputer yang terhubung dengan LAN dapat saling
              berkomunikasi, melakukan pertukaran data, berkirim pesan,
              mengakses data ataupun berbagi sumber daya hardware seperti
              printer.
            </P>
            <P>
              Satu komputer umumnya berfungsi sebagai server dan komputer lain
              sebagai client. Setiap komputer mempunyai sistem dan hak akses
              tersendiri yang diatur melalui komputer server.
            </P>
            <P>
              Komputer dalam LAN terhubung melalui ethernet ataupun teknologi
              Wireless. Lan yang terhubung melalui wireless kemudian disebut
              wireless LAN atau disingkat WLAN.
            </P>
            <P>
              Contoh penggunaan jaringan LAN dapat kita lihat di Warnet. Setiap
              komputer akan terhubung terutama dengan komputer server yang
              digunakan oleh penjaga warnet atau admin.
            </P>
          </section>

          <section id="man">
            <h3>MAN</h3>
            <img
              src="assets/img/man.png"
              alt="man diagram"
              class="featured-image diagram"
            />
            <p>
              Metropolitan Area Network atau WAN adalah suatu jaringan komputer
              yang dapat mencakup area yang lebih luas dan menggunakan teknologi
              yang lebih canggih dari LAN. Jaringan MAN merupakan gabungan
              beberapa jaringan LAN yang mana menjangkau hingga 10 s.d. 50 km.
            </p>
            <P>
              Jaringan MAN cocok dipakai untuk membangun jaringan antar
              perkantoran atau instansi yang masih dalam satu kota. Biasanya MAN
              dipakai untuk menghubungkan beberapa lokasi seperti perkantoran,
              kampus, pemerintahan, dan sebagainya.
            </P>
            <P>
              MAN digunakan karena kecepatan transfer data yang dinilai tinggi
              dan proses instalasi yang tidak terlalu rumit. Di dalam MAN,
              dibutuhkan operator telekomunikasi yang akan menjadi penghubung
              antar jaringan komputer.
            </P>
          </section>

          <section id="wan">
            <h3>WAN</h3>
            <img
              src="assets/img/wan.png"
              alt="wan diagram"
              class="featured-image diagram"
            />
            <P>
              Wide Area Network (WAN) adalah jaringan komputer yang luas
              cakupannya dapat mencapai satu negara bahkan benua. Jaringan ini
              merupakan gabungan dari LAN dan MAN yang wilayahnya dipisahkan
              secara geografis. </P
            ><P>
              Membangun jaringan WAN membutuhkan kabel serat optik (fiber
              optic), kabel telepon, atau bisa juga menggunakan satelit. Oleh
              karena jangkauannya yang luas, membuat WAN memerlukan biaya yang
              sangat besar.
            </P>
            <P>
              Membangun jaringan WAN membutuhkan kabel serat optik (fiber
              optic), kabel telepon, atau bisa juga menggunakan satelit. Oleh
              karena jangkauannya yang luas, membuat WAN memerlukan biaya yang
              sangat besar.
            </P>
            <p>
              Sumber :
              <cite
                ><a
                  href="https://salamadian.com/pengertian-lan-man-wan/"
                  target="_blank"
                  >salamadian.com</a
                ></cite
              >
            </p>
            <p></p>
          </section>
        </article>

        <article id="kabel-jaringan" class="card">
          <h2>Kabel Jaringan</h2>
          <p>
            Kabel jaringan adalah media transmisi fisik yang digunakan untuk
            menghubungkan perangkat-perangkat dalam jaringan komputer, seperti
            komputer, server, router, dan switch, sehingga memungkinkan
            pertukaran data antar perangkat tersebut. Beberapa jenis kabel
            jaringan yang banyak digunakan adalah twisted pair dan fiber optik.
            <br />berikut penjelasan lengkapnya:
          </p>
          <section id="twisted-pair">
            <h3>Kabel Twisted Pair</h3>
            <img
              src="assets/img/twisted-pair.png"
              alt="Ethernet kabel"
              class="image-center"
            />
            <p>
              Kabel twisted pair adalah jenis kabel yang terdiri dari sepasang
              konduktor tembaga yang dililitkan bersama secara berpasangan dan
              dibungkus dengan lapisan pelindung. Setiap konduktor membawa
              sinyal listrik dengan polaritas yang berlawanan. Penamaan “twisted
              pair” berasal dari karakteristik kabel ini, yaitu penggulungan
              kedua konduktor secara bersamaan membentuk pasangan yang berputar
              atau “twisted”. Kabel twisted pair biasanya digunakan dalam
              aplikasi jaringan komputer dan telekomunikasi, baik untuk
              transmisi data analog maupun digital. Kelebihan utama kabel ini
              terletak pada kemampuannya untuk mengurangi gangguan
              elektromagnetik (EMI) dan interferensi, sehingga menjadikannya
              pilihan yang populer dalam lingkup industri.
            </p>
            <p>
              Terdapat dua jenis utama kabel twisted pair yang umum digunakan,
              yaitu kabel unshielded twisted pair (UTP) dan kabel shielded
              twisted pair (STP).
            </p>
            <p>
              Sumber :
              <cite
                ><a
                  href="https://www.sonde.id/pengertian-kabel-twisted-pair/"
                  target="_blank"
                  >sonde.id
                </a></cite
              >
            </p>
            <p></p>
          </section>

          <section id="fiber-optik">
            <h3>Kabel Fiber optik</h3>
            <img
              src="assets/img/fiber-optik.png"
              alt="Kabel Fiber optik"
              class="image-center"
            />
            <p>
              Fiber Optik atau dalam bahasa Inggris disebut dengan Optical Fiber
              atau Fiber Optics adalah jenis kabel yang terbuat dari serat kaca
              atau plastik halus yang dapat mentransmisikan sinyal cahaya dari
              satu tempat ke tempat lainnya. Diameter kabel fiber optik pada
              umumnya berukuran sekitar 120 mikrometer. Sedangkan Sumber
              cahayanya dapat berupa sinar Laser ataupun sinar LED.
              Keuntungan-keuntungan menggunakan Kabel Fiber Optik sebagai media
              transmisi diantaranya adalah tingginya bandwidth yang dimilikinya,
              tidak rentan terhadap gangguan (interference) apabila dibandingkan
              dengan kabel tembaga, lebih tipis dan ringan serta dapat
              mentransmisikan data dalam bentuk digital.
            </p>
            <p>
              Sumber :
              <cite
                ><a
                  href="https://teknikelektronika.com/pengertian-fiber-optik-optical-fiber-jenis-jenis-fiber-optik/"
                  target="_blank"
                  >teknikelektronika.com</a
                ></cite
              >
            </p>
            <p></p>
          </section>
        </article>
      </div>
      <aside>
        <article class="card">
          <header class="profile">
            <h2>FebrianTech</h2>
            <p>Website Informatif Jaringan Komputer</p>
            <figure>
              <img src="assets/img/profile.jpg" alt="profile" />
              <figcaption>
                "hadir sebagai sumber belajar siswa tentang jaringan komputer"
              </figcaption>
            </figure>
          </header>
          <section class="hubungi-kami">
            <h3>Hubungi kami</h3>
            <table>
              <tr>
                <th>Email</th>
                <td>support@febriantech.com</td>
              </tr>
              <tr>
                <th>Telepon</th>
                <td>+62 888 6666 777</td>
              </tr>
              <tr>
                <th>WhatsApp</th>
                <td>+62 888 6666 777</td>
              </tr>
            </table>
            <div class="media-social">
              <div class="instagram">
                <a href="https://www.instagram.com/" target="_blank"
                  ><img
                    src="assets/img/icons/icon-instagram.png"
                    alt="instagram"
                /></a>
              </div>
              <div class="facebook">
                <a href="https://www.facebook.com" target="_blank"
                  ><img src="assets/img/icons/icon-facebook.png" alt="facebook"
                /></a>
              </div>
              <div class="twitter">
                <a href="https://www.x.com" target="_blank"
                  ><img src="assets/img/icons/icon-twitter.png" alt="twitter"
                /></a>
              </div>
            </div>
          </section>
        </article>
      </aside>
    </main>
    <footer>
      <p>Jaringan Komputer &copy; 2025, FebrianTech</p>
    </footer>
    <script src="./assets/scripts/febrian-tech.js"></script>
  </body>
</html>
