<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
 
    </style>
    <title>Movies Database</title>
  </head>
  <body>
    <header>

    </header>
    <main class="container w-75">
        <div class="container ">
            <div class="row mt-5">
                <div class="col">
                    <h1>Movies Search Database</h1>
                </div>
            </div>
        </div>

        <div class="row" >
            <div class="col-md-8">
                <div class="input-group mb-3 ">
                    <input type="text" class="form-control input-keyword" placeholder="Search movie.." >
                    <button class="btn btn-outline-primary search-button" type="button"">Search</button>
                </div>
            </div>
            
        </div>

        <div class="row" id="hasil">
        </div>
    </main>





<!-- // movieDetail -->
<!-- Button trigger modal -->
<!-- Modal -->
<!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade" id="movieDetails" tabindex="-1" aria-labelledby="movieDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="movieDetailsLabel">Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"  id="detailsMovie">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



<!-- // javascript -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="./assets/scripts/search-movie.js"></script>
  </body>
</html>